.aceEditorDirective {
    margin-top: 50px;
    min-height: 200px;
    width: 100%;
    overflow: auto;
  }

  .code-flex-container {
    display: flex;
    justify-content: center;
  }

  .pull-right {
    float: right;
  }

  .right-content {
    margin: 20px 10px 0 0;
  }